
.main_container {
    height: 900px;
    padding: 10px;
    
    
}

.container_menu {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color:#e9b384;
    font-family: fantasy;
    height: 60px;
/*    background: #F4F2DE;*/
    padding: 5px;
}
.logo: hover {
    height: 50px;  
}
.logo: hover: after {
    height: 100px;
}
.search {
     
     height: 50px;
     width: 70px;    
}
.loggin {
     
     height: 50px;
    
}

.container_cent_menu {
    display: flex;
    justify-content: space-around;
    position: relative;
    margin: 10px;
    padding: 10px;
    height: 700px;
    background: #e9b384;
}

.top {
     border: dotted;
/*
    height: 50px;
    width: 1400px;
*/
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
}

.left {
    border: dotted;
/*
    height: 500px;
    width: 1000px;
*/
    position: absolute;
    left: 0;
    bottom: 0;
    margin: 10px;
}
.right {
    border: dotted;
/*    height: 500px;*/
    position: absolute;
    bottom: 0;
    right: 0;
/*    width: 400px;*/
    margin: 10px;
}
.container_buttom_menu {
    margin: 5px;
    margin-bottom: 5px;
    height: 100px;
    background: #7C9D96;
}