
.main_container {
    height: 900px;
    padding: 10px;
    
    
}

.container_menu {
    margin: 5px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    color:#862B0D;
    font-family: fantasy;
    height: 60px;
    width: 100%;
    background: #B5C99A;
    padding: 5px;
}
.logo {
    height: 50px; 
    width: 150px;
    text-transform: uppercase;
    text-align: center;
}

.search {
     
     height: 50px;
     width: 70px;    
}
.loggin {
     
     height: 50px;
    width: 150px;
    text-align: center;
    
}

.container_cent_menu {
    display: flex;
    justify-content: space-around;
    position: relative;
    
    margin: 10px;
    padding: 10px;
    height: 100%;
    color: #862B0D;
/*    background: #e9b384;*/
    font-size: 24px;
    font-family: fantasy;
}


.right {
    border: dotted;
    display: flex;
    position: absolute;
    flex-direction: column;
    justify-content: space-between;
   
    left: 0;
    right: 20%;
    bottom: 0;
    top: 0;
    margin: 10px;
    z-index: 0;
    text-align: center;
    font-size: 24px;
    padding: 5px;
    
  
}
.right_top {
    
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-around;
}

.right_center {
    align-self: center;
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-around;
    
}
.right_buttom {
    align-self: center;
    display: flex;
    justify-content: space-around;
    position: relative;
    width: 100%;
}
.iner_element {
    height: 350px;
    width: 250px;
    border: dotted;
    margin: 10px;
    display: flex;
    
}
.left {
    border: dotted;
    position: absolute;
    right: 0;
    left: 80%;
    bottom: 0;
    top: 0;
    margin: 10px;
    z-index: 3;
    text-align: center;
    
}
.container_buttom_menu {
    margin: 5px;
    margin-bottom: 5px;
    height: 150px;
    width: 100%;
    background: #FFC95F;
}