
.main_container {
    height: 900px;
    padding: 10px;
    
    
}

.container_menu {
    margin: 10px;
    height: 80px;
    background: #F4F2DE;
}
.logo {
    border: dotted;
    float: left;
    height: 50px;
    width: 70px;
}
.search {
     border: dotted;
     height: 50px;
     width: 70px;
}
.loggin {
     border: dotted;
     height: 50px;
     width: 70px;
}

.container_cent_menu {
    margin: 10px;
    padding: 10px;
    height: 700px;
    background: #e9b384;
}

.top {
     border: dotted;
    height: 50px;
    width: 1400px;
    float: inherit;
    margin: 10px;
}

.left {
    border: dotted;
    height: 500px;
    width: 1000px;
    float: left;
    margin: 10px;
}
.right {
    border: dotted;
    height: 500px;
    float: right;
    width: 400px;
    margin: 10px;
}
.container_buttom_menu {
    margin: 10px;
    height: 100px;
    background: #7C9D96;
}